<header>
  <h1>Movie Time</h1>
  <div>
    <a routerLinkActive="active" routerLink="/Movie-List">Discover</a>
    <a routerLinkActive="active" routerLink="/Watch-List">Watch-List</a>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Created by: Caylea, Kevin, and Veronica 2019</p>
</footer>

<!-- <header>
  <nav>
    <div id="title">
      <h1>Movie Time</h1>
    </div>
    <div id="routes">
      <a id="movie" routerLink="/Movie-List">Discover</a>
      <a routerLinkActive="active" routerLink="/Watch-List">Watch-list</a>
    </div>
  </nav>
  </header>

<router-outlet></router-outlet> -->
